body {
	background-color: black;
}

.top {
	color: white;
	font-size: x-large;
	height: 100px;
}

.h1 {
	color: white;
	font-size: x-large;
	font-weight: bolder;
}

.calc {
	color: goldenrod;
	font-size:large;
	font-weight: bolder;
}

#ranking {
	color: red;
	font-weight: bold;
	font-size: 400px;
	width: 400px;
	height: 400px;
	padding: auto;
	left: 700px;
	position: absolute;
	top: 650px;
}

#rank {
	height: 60px;
	width: 180px;
	background-color: green;
	text-align: center;
	color: black;
	font-size: x-large;
	font-weight: bold;
}

h2 {
	color: black;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

h3 {
	color: green;
	font-weight: bold;
}

h5 {
	color: white;
	position: relative; left: 25px;
	background-color: blue;
	width: 120px;
	text-align: center;
}

li {
	color: goldenrod;
	font-size: large;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
}

.container {
	/* Setup Flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/* Reverse Column Order */
	-webkit-flex-flow: column-reverse;
	flex-flow: column-reverse;
}

.movie {
	height: 320px;
	padding: auto;
	position: relative;
}

.stuff {
	color: darkred;
	font-size: large;
	font-weight: bolder;
	height: 100px;
	padding: auto;
	position: auto;
}

.buffer {
	height: 100px;
	padding: auto;
	position: relative;
}

.rating {
	width: 400px;
	height: 300px;
	padding: auto;
}

.rt, .rt2 {
	width: 200px;
    height: 275px;
    display: block;
    position: absolute;
    overflow: hidden;
	left: 600px;
	top: 0;
}

.synopsis {
	color: white;
	font-size: small;
	width: 300px;
    height: 200px;
    display: block;
    position: absolute;
    overflow: hidden;
	top: 0;
	text-align: center;
	right: 700px;
}

.rt2 {
	left: 900px;
}

.rt img, .rt2 img {
	position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.rt:hover, .rt2:hover, .synopsis:hover {
	transform: scale(1.25);
}

.menu {
	height: 100px;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.menu li {
	float: left;
	font-size: 25px;
	font-weight: bold;
}

.menu li a {
	display: block;
	color: darkred;
	text-align: left;
	padding: 28px 32px;
	text-decoration: none;
}

.menu a:visited {
	color: darkred;
}

.menu a:hover {
	background-color: #111;
}

footer {
	text-align: center;
	padding: 3px;
	background-color: slategray;
	color: wheat;
	bottom: 200px;
}

/* Photo Banner */
#banner {
    width: 100%;
    overflow: hidden;
    margin: 10px auto;
    background: black;
}

.photobanner {
	height: 233px;
	width: 3550px;
	margin-bottom: 80px;
}

.photobanner img {
	margin-bottom: 10px;
	margin-right: 0px;
	height: 233px;
	width: 350px;
}

.photobanner img  {
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
    -ms-transition: all 3s ease;
    transition: all 3s ease;
}

/*keyframe animations*/
.first {
    -webkit-animation: bannermove 30s linear infinite;
       -moz-animation: bannermove 30s linear infinite;
        -ms-animation: bannermove 30s linear infinite;
         -o-animation: bannermove 30s linear infinite;
            animation: bannermove 30s linear infinite;
}
  
@keyframes "bannermove" {
	0% {margin-left: 0px;}
	100% {margin-left: -2130px;}
}
	
@-moz-keyframes bannermove {
	0% {margin-left: 0px;}
	100% {margin-left: -2130px;}
}

@-webkit-keyframes "bannermove" {
	0% {margin-left: 0px;}
	100% {margin-left: -2130px;}
}

@-ms-keyframes "bannermove" {
	0% {margin-left: 0px;}
	100% {margin-left: -2130px;}
}

@-o-keyframes "bannermove" {
	0% {margin-left: 0px;}
	100% {margin-left: -2130px;}
}
















